@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Source+Code+Pro:700);
* {
  padding: 0;
  margin: 0;
}

body {
  background: #09a3d5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: bold 16px "Lato", arial, sans-serif;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

a {
  color: black;
  background-color: white;
  border-width: 5px;
  padding: 5px;
}

.window {
  margin-top: 50px;
  background: #ddd;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  position: relative;
  width: 80%;
}

.title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 0.75em;
}

.icons {
  padding: 0.75em;
  position: absolute;
}
.icons span {
  background: #f4c025;
}
.icons:before {
  content: "";
  background: #e4514f;
}
.icons:after {
  content: "";
  background: #3ec930;
}

.icons span, .icons:before, .icons:after {
  display: inline-block;
  float: left;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-right: 0.5em;
}

pre {
  background: #222;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  overflow: scroll;
  padding: 2.5em;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
pre code {
  font: bold 1em/1.75 "Source Code Pro", monospace;
}
pre code:after {
  -webkit-animation: blink 0.9s infinite;
          animation: blink 0.9s infinite;
  font: initial;
  display: block;
  opacity: 1;
  content: "▋";
}

.token.punctuation {
  color: #999;
}

.token.boolean,
.token.number {
  color: #8130c9;
}

.token.keyword {
  color: #09a3d5;
}

.token.operator {
  color: #e4514f;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media(max-width: 800px) {
  pre {
    font-size: 10px;
  }

  .window {
    width: 70%;
  }
}
